*{
    margin:0;padding:0;
}
ul,ol{list-style: none}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}  
#canvas{
    background:rgb(255, 255, 255);
    display: block;
    position:fixed;
    top:0;
    left:0;
}
.actions{
    position:fixed;
    left:0;
    top:0;
}

.actions svg:nth-child(3){
    position:fixed;
    right:10px;
    top:0;
}
.actions svg{
    width:1.5em;
    height:1.5em;
    padding:10px;
    margin: 0 5px;
    transition: all 0.3s;
}
.actions svg.active{
    fill:red;
    transform: scale(1.2);
    transition: all 0.3s;
}

.colors{
    position:fixed;
    left:13px;
    top:47px;
}
.colors li{
    width:20px;
    height:20px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    margin:10px 0;
    border-radius:50%;
}
.colors li.active{
    transform: scale(1.2);
    transition: all 0.3s;
}
.colors li.red{background:red;}
.colors li.green{background:green;}
.colors li.blue{background:#0000E8;}

.sizes{
    position:absolute;
    right:10px;
    top:70px;
}

.sizes li:nth-child(2){
    margin:30px 0;
}

.sizes .thin{
    height:0;
    width:50px;
    border-top: 2px solid black;
}
.sizes .thick{
    height:0;
    width:50px;
    border-top: 5px solid black;
}
